h1{
    text-align: center;
    display: block;
    font-size: 100px;
    line-height: 1.08349;
    font-weight: 600;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 25vh;
    margin-bottom: 0;
}
h2{
    display: block;
    font-size: 50px;
    font-weight: 150;
    margin-top: 3vh;
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}
.div-login-button{
    text-align: center;
    margin-top: 1vh;
}
.login-button{
    display: inline-block;
    padding: 16px 32px;
    border-radius: 40px;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.content{
    display: flex;
    flex-direction: column;
    min-height: 77vh;
}